
body {
	background-color: lime;
	text-align: center;

}

h1 {
	color: red;
}

h3 {
	color: red;
}

.instructions {
	background-color: white;
	width: 500px;
	vertical-align: center;
	margin: auto;
	margin-bottom: 50px;
}